body{
    height: 500px, 100%;
    width: 300px, 100%;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}