@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
body{
    height: 500px, 100%;
    width: 300px, 100%;
    color: #EBEBEB;
    background-color: #2F3437;
    text-align: center;
    font-size: 1em;
    font-family: Ma Shan Zheng, cursive ;
}
button{
    font-family: Caveat, 'Times New Roman', Times, serif;
    text-align: center;
}
